<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.aperture"
    android:versionCode="36"
    android:versionName="16">

    <application
        android:label="Camera"
        android:theme="@style/Theme.Wrapper"
        android:allowBackup="false">

        <activity
            android:name=".WrapperActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
