<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.aperture"
    android:versionCode="36"
    android:versionName="16">

    <application
        android:label="Camera"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity
            android:name="wrapper.Wrapper"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
