<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.aperture">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:label="Camera"
        android:theme="@style/Theme.Camera"
        android:allowBackup="false">

        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- Dipanggil aplikasi lain -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- Launcher (opsional) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.lineageos.aperture.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>
</manifest>
