<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.aperture">

    <!-- Permission -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:label="Camera"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true">

        <!-- ACTIVITY INTENT (JANGAN DIHAPUS) -->
        <activity
            android:name=".CameraIntentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- WRAPPER CAMERA -->
        <activity
            android:name=".GcamWrapperActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GCamGoLike"/>

        <!-- FILE PROVIDER -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.lineageos.aperture.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>
</manifest>
