name: Build Camera Wrapper

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      # 3.1 Compile Java → .class
      - name: Compile WrapperActivity
        run: |
          mkdir -p out/classes
          javac \
            -source 8 -target 8 \
            -classpath $ANDROID_HOME/platforms/android-34/android.jar \
            -d out/classes \
            app/src/org/lineageos/aperture/WrapperActivity.java

      # 3.2 Convert .class → classes.dex
      - name: Step 3 - Convert class to classes.dex
        run: |
          # Cari build-tools terbaru
          BUILD_TOOLS=$(ls $ANDROID_HOME/build-tools | sort -V | tail -n 1)
          D8=$ANDROID_HOME/build-tools/$BUILD_TOOLS/d8

          echo "Using build-tools: $BUILD_TOOLS"

          # Pastikan input ada
          ls -R out/classes

          # Convert .class → classes.dex
          $D8 \
            out/classes \
            --output app

      # 3.3 Build unsigned APK
      - name: Build unsigned APK
        run: |
          BUILD_TOOLS=$(ls $ANDROID_HOME/build-tools | sort -V | tail -n 1)
          AAPT2=$ANDROID_HOME/build-tools/$BUILD_TOOLS/aapt2

          $AAPT2 compile --dir app/res -o out/res.zip

          $AAPT2 link \
          -o out/Camera-unsigned.apk \
          --manifest app/AndroidManifest.xml \
          -I $ANDROID_JAR \
          out/res.zip
