name: Build APK Manual
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Ini triknya: Pakai gradle-command-action biar dia otomatis 
      # install gradle tanpa perlu file 'gradlew' di repo kamu
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Kamera-Aperture-Redmi
          path: app/build/outputs/apk/debug/*.apk
