name: Build Camera Wrapper (Manual)

on:
  workflow_dispatch:
    inputs:
      package_id:
        description: 'Nama Paket (Contoh: org.lineageos.aperture)'
        required: true
        default: 'org.lineageos.aperture'
      version_name:
        description: 'Nama Versi (Contoh: 16)'
        required: true
        default: '16'
      version_code:
        description: 'Kode Versi (Contoh: 36)'
        required: true
        default: '36'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
       
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

            # ... (langkah setup java sama)
      
      - name: Generate Gradle Wrapper
        run: gradle wrapper --gradle-version 8.2 --distribution-type all

      - name: Clean Build
        # Pakai --no-daemon biar gak nyimpen cache error yang lama
        run: ./gradlew clean assembleDebug --no-daemon



      - name: Inject Custom Config
        run: |
          sed -i "s/def appPackageId = .*/def appPackageId = \"${{ github.event.inputs.package_id }}\"/g" app/build.gradle
          sed -i "s/def appVersionName = .*/def appVersionName = \"${{ github.event.inputs.version_name }}\"/g" app/build.gradle
          sed -i "s/def appVersionCode = .*/def appVersionCode = ${{ github.event.inputs.version_code }}/g" app/build.gradle
          sed -i "s/package=\".*\"/package=\"${{ github.event.inputs.package_id }}\"/g" app/src/main/AndroidManifest.xml

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK Result
        uses: actions/upload-artifact@v4
        with:
          name: Camera-Wrapper-${{ github.event.inputs.package_id }}
          path: app/build/outputs/apk/debug/*.apk
          
