name: Build Camera Wrapper (Manual)

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: "Package Name (contoh: org.lineageos.aperture)"
        required: true
        default: "org.lineageos.aperture"

      version_name:
        description: "Version Name (default: Android 16)"
        required: true
        default: "16"

      version_code:
        description: "Version Code (default: 36)"
        required: true
        default: "36"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Update package name
        run: |
          sed -i "s/applicationId \".*\"/applicationId \"${{ github.event.inputs.package_name }}\"/" app/build.gradle

      - name: Update version
        run: |
          sed -i "s/versionName \".*\"/versionName \"${{ github.event.inputs.version_name }}\"/" app/build.gradle
          sed -i "s/versionCode .*/versionCode ${{ github.event.inputs.version_code }}/" app/build.gradle

      - name: Build APK (Release)
        run: ./gradlew assembleRelease

      - name: Sign APK (manual key)
        run: |
          APK=$(ls app/build/outputs/apk/release/*.apk)
          $ANDROID_HOME/build-tools/34.0.0/apksigner sign \
            --key keystore/key.pk8 \
            --cert keystore/key.x509.pem \
            --out CameraWrapper-${{ github.event.inputs.package_name }}.apk \
            $APK

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CameraWrapper
          path: CameraWrapper-${{ github.event.inputs.package_name }}.apk

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.event.inputs.version_name }}
          name: Camera Wrapper v${{ github.event.inputs.version_name }}
          files: CameraWrapper-${{ github.event.inputs.package_name }}.apk
