name: Build Aperture Wrapper

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Android SDK
        uses: android-actions/setup-android@v3

      - name: Install platform & build-tools
        run: |
          sdkmanager "platforms;android-34" "build-tools;34.0.0"

      - name: Build Java classes
        run: |
          mkdir -p out/classes
          javac \
            -source 8 -target 8 \
            -classpath $ANDROID_HOME/platforms/android-34/android.jar \
            -d out/classes \
            app/WrapperActivity.java

      - name: Convert class to dex
        run: |
          find out/classes -name "*.class" > classes.list
          d8 @classes.list --output out

      - name: Package resources with aapt2
        run: |
         AAPT2=$ANDROID_HOME/build-tools/34.0.0/aapt2

         $AAPT2 compile --dir app/res -o out/res.zip

         $AAPT2 link \
           -o out/Camera-unsigned.apk \
           --manifest app/AndroidManifest.xml \
           -I $ANDROID_HOME/platforms/android-34/android.jar \
           out/res.zip

      - name: Add classes.dex
        run: |
          cd out
          zip -u Camera-unsigned.apk classes.dex

      - name: Sign APK
        run: |
          apksigner sign \
            --key keystore/Key.pk8 \
            --cert keystore/Key.x509.pem \
            --out Camera.apk \
            out/Camera-unsigned.apk

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: wrapper-${{ github.run_number }}
          files: Camera.apk
