name: Build Camera Wrapper (Manual)

on:
  workflow_dispatch:
    inputs:
      package_id:
        description: 'Nama Paket'
        required: true
        default: 'org.lineageos.aperture'
      version_name:
        description: 'Nama Versi'
        required: true
        default: '16'
      version_code:
        description: 'Kode Versi'
        required: true
        default: '36'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Generate Gradle Wrapper
        run: gradle wrapper --gradle-version 7.5 --distribution-type all

      - name: Inject Custom Config
        run: |
          sed -i "s/def appPackageId = .*/def appPackageId = \"${{ github.event.inputs.package_id }}\"/g" app/build.gradle
          sed -i "s/def appVersionName = .*/def appVersionName = \"${{ github.event.inputs.version_name }}\"/g" app/build.gradle
          sed -i "s/def appVersionCode = .*/def appVersionCode = ${{ github.event.inputs.version_code }}/g" app/build.gradle
          sed -i "s/package=\".*\"/package=\"${{ github.event.inputs.package_id }}\"/g" app/src/main/AndroidManifest.xml

      - name: Build Debug APK
        run: ./gradlew assembleDebug --no-daemon --warning-mode none
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Camera-Wrapper
          path: app/build/outputs/apk/debug/*.apk
          
