name: Rakit GCam Sultan Manual
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Ambil Script
        uses: actions/checkout@v4

      - name: Install Java dan Alat
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-17-jdk-headless apksigner zipalign python3 wget
          sudo ln -sf ${ANDROID_SDK_ROOT}/build-tools/34.0.0/aapt2 /usr/local/bin/aapt2
          wget https://github.com/iBotPeaches/Apktool/releases/download/v2.9.3/apktool_2.9.3.jar -O apktool.jar

      - name: Download APK Bahan
        run: wget "https://github.com/Evolution-X-AOSP/packages_apps_GCamGOPrebuilt/raw/refs/heads/udc/GCamGOPrebuilt-V3_8.apk" -O base.apk

      - name: Proses Decompile
        run: java -jar apktool.jar d base.apk -o workdir

      - name: Eksekusi Script Sodok
        run: python3 sodok.py

      - name: Rakit Ulang
        run: java -jar apktool.jar b workdir --use-aapt2 -o unsigned.apk

      - name: Zipalign (Merapikan File)
        run: zipalign -v 4 unsigned.apk aligned.apk

      - name: Tanda Tangan (Signing)
        run: |
          keytool -genkey -v -keystore debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US"
          apksigner sign --ks debug.keystore --ks-pass pass:android --out hasil_sultan.apk aligned.apk

      - name: Simpan Hasil Jadi
        uses: actions/upload-artifact@v4
        with:
          name: GCam-Sultan-Note13
          path: hasil_sultan.apk
