name: Rakit CameraGo Sapphire Auto
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Alat
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-17-jdk-headless apksigner zipalign python3 wget
          wget https://github.com/iBotPeaches/Apktool/releases/download/v2.9.3/apktool_2.9.3.jar -O apktool.jar

      - name: Download Base Shamim Langsung ke Server
        run: |
          # Link direct Shamim V7 yang lu pake tadi
          URL="https://1-dontsharethislink.celsoazevedo.com/file/filesc/MGCLite_3.8.476835377_V7_cameralite.apk"
          wget --user-agent="Mozilla/5.0" $URL -O base.apk
          
      - name: Decompile (Anti-FC)
        run: java -jar apktool.jar d -s base.apk -o workdir

      - name: Eksekusi Tweak Sapphire
        run: python3 sodok.py

      - name: Rakit Ulang
        run: java -jar apktool.jar b workdir --use-aapt2 -o unsigned.apk

      - name: Zipalign & Ganti Nama
        run: |
          zipalign -v 4 unsigned.apk aligned.apk
          keytool -genkey -v -keystore debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US"
          apksigner sign --ks debug.keystore --ks-pass pass:android --out CameraGo.apk aligned.apk

      - name: Upload Hasil Jadi
        uses: actions/upload-artifact@v4
        with:
          name: CameraGo-Sapphire-Prebuilt
          path: CameraGo.apk
