name: Step 1 - Fetch GCam Go Base APK

on:
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - name: Download GCam Go APK
        run: |
          mkdir -p base
          curl -L \
            https://1-dontsharethislink.celsoazevedo.com/file/filesc/MGCLite_3.8.476835377_V7_ENG.apk \
            -o base/GCamGo.apk

      - name: Upload GCam Go as artifact
        uses: actions/upload-artifact@v4
        with:
          name: gcamgo-base
          path: base/GCamGo.apk
