name: Step 1 - Fetch GCam Go Base (Artifact)

on:
  workflow_dispatch:

jobs:
  fetch-base:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create workspace
        run: |
          mkdir -p workspace/base

      - name: Download GCam Go base APK
        run: |
          curl -L \
            -o workspace/base/GCamGo.apk \
            https://1-dontsharethislink.celsoazevedo.com/file/filesc/MGCLite_3.8.476835377_V7_ENG.apk

      - name: Verify APK
        run: |
          ls -lh workspace/base/GCamGo.apk

      - name: Upload base APK as artifact
        uses: actions/upload-artifact@v4
        with:
          name: gcamgo-base
          path: workspace/base/GCamGo.apk
