name: Fetch & Decode GCam Go (Base)

on:
  workflow_dispatch:

jobs:
  fetch-decode:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download GCam Go APK
        run: |
          mkdir -p base
          curl -L \
            https://1-dontsharethislink.celsoazevedo.com/file/filesc/MGCLite_3.8.476835377_V7_ENG.apk \
            -o base/GCamGo.apk

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install apktool
        run: |
          sudo apt update
          sudo apt install -y apktool

      - name: Decode GCam Go
        run: |
          mkdir -p work
          apktool d base/GCamGo.apk -o work/gcamgo_decoded -f

      - name: Upload decoded output
        uses: actions/upload-artifact@v4
        with:
          name: gcamgo-decoded
          path: work/gcamgo_decoded
